.containerMain {
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    word-wrap: break-word;
    height: auto;
}

.containerProducts {
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.listProducts {
    display: flex;
    width: 30%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
